name: CI

on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - php: 8.2
            laravel: 12
            pest: 3
          - php: 8.3
            laravel: 12
            pest: 3
          - php: 8.3
            laravel: 12
            pest: 4
          - php: 8.4
            laravel: 12
            pest: 3
          - php: 8.4
            laravel: 12
            pest: 4
    steps:
      - uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, bcmath, pcntl, sqlite
          coverage: pcov

      - name: Install Composer dependencies
        run: |
          composer require --dev orchestra/testbench:"^10.6" \
            pestphp/pest:"^${{ matrix.pest }}" \
            pestphp/pest-plugin-laravel:"^${{ matrix.pest }}" --no-update
          composer update --prefer-dist --no-progress --no-suggest

      - name: Style check
        run: composer test:lint

      - name: Rector check
        run: composer refactor:dry

      - name: Type check
        run: composer check:type

      - name: Run tests with coverage
        run: composer test:coverage:parallel